@model WebApplication.Models.Project

@{
    ViewBag.Title = "Create";
}

<h2>Dodaj</h2>


@using (Html.BeginForm("Index", "Project", FormMethod.Post, new { id = "myform" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Projekt</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">

                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control ", @style = "max-width:800px" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @style = "max-width:800px; height:100px" } })

                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>



        <div id="prItems">
            <section id="row1" num="1">
                <div class="form-group">
                    @Html.LabelFor(model => model.Steps, "Krok", htmlAttributes: new { @class = "control-label col-md-2" })

                    <div class="col-md-8">
                        @Html.Editor("StepNames", new { htmlAttributes = new { @class = "form-control ", @style = "max-width:800px" } })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Steps, "Dodatkowe informacje", htmlAttributes: new { @class = "control-label col-md-2" })

                    <div class="col-md-8">

                        @Html.Editor("Infos", new { htmlAttributes = new { @class = "form-control", @style = "max-width:800px; height:100px" } })
                    </div>

                    </div>
            </section>
        </div>



        <hr />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button id="btnAddRow" class="btn btn-default">Dodaj krok</button>
                <input type="submit" value="Utwórz" class="btn btn-default" />
            </div>
        </div>
    </div>

}

<div>
    @Html.ActionLink("Wróć", "Index")
</div>



@section scripts{
    <script>
        $(document).ready(function () {

            $('#StepNames').val('');
            $('#Infos').val('');
        });
        $('#btnAddRow').click(function (e) {
            e.preventDefault();
            var row = "<section id='row1' num='1'><div class='form-group'>&#64Html.LabelFor(model=>model.Steps,'Krok', htmlAttributes: new { @@class = 'control-label col-md-2' })<div class='col-md-8'>@@Html.Editor('StepNames', new { htmlAttributes = new { @@class = 'form-control ', @@style = 'max-width:800px' } })</div></div><div class='form-group'>@@Html.LabelFor(model => model.Steps, 'Dodatkowe informacje', htmlAttributes: new { @@class = 'control-label col-md-2' })<div class='col-md-8'>@@Html.Editor('Infos', new { htmlAttributes = new { @@class = 'form-control', @@style = 'max-width:800px; height:100px' } })</div></section> < input type = 'text' ></div><input type='button' class='RowDelete' value='-' /><hr /></section >";
            $('#prItems').append(row);
            orderRow();
        })


        function removeRow(num) {
            $('#prItems section').each(function (idx) {
                if ($(this).attr('num') == num) {
                    $(this).remove();
                }
            });
            orderRow();
        }
        function orderRow() {
            var rowCount = $('#prItems section').length;
            if (rowCount > 0) {
                $('#prItems section').each(function (idx) {
                    var num = idx + 1;
                    $(this).attr('id', 'row' + num);
                    $(this).attr('num', num);

                    $(this).children().children().nextAll().slice(0, 1).prev().text('Tytuł ' + num + " : ");
                    $(this).children().children().nextAll().slice(0, 1).attr('name', 'StepNames');


                    $(this).children().next().children().nextAll().slice(0, 1).prev().text('Opis ' + num + " : ");
                    $(this).children().next().children().nextAll().slice(0, 1).attr('name', 'Infos');


                    $(this).children().next().next().slice(0, 1).attr('onclick', 'removeRow(' + num + ')');
                });
            }
        }
    </script>

    @Scripts.Render("~/bundles/jqueryval")
}


@*<section id='row1' num='1'><div class='form-group'>@@Html.LabelFor(model=>model.Steps, 'Krok', htmlAttributes: new { @@class = 'control-label col-md-2' })<div class='col-md-8'>@@Html.Editor('StepNames', new { htmlAttributes = new { @@class = 'form-control ', @@style = 'max-width:800px' } })</div></div><div class='form-group'>@@Html.LabelFor(model => model.Steps, 'Dodatkowe informacje', htmlAttributes: new { @@class = 'control-label col-md-2' })<div class='col-md-8'>@@Html.Editor('Infos', new { htmlAttributes = new { @@class = 'form-control', @@style = 'max-width:800px; height:100px' } })</div></section>
<input type='text'></div>
<input type='button' class='RowDelete' value='-' />
<hr /></section>*@